*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 95px;
}
.logo{
    height: 130px;
    width: 130px;
    cursor: pointer;
}
.navbar{
    display: flex;  
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 2px;
}
button{
    margin-left: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
.btn-1{
    background-color: transparent;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px 0px #0000003f;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn-1::before {
    content: "";
    background-color: black;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}

.btn-1:hover::before {
    transform: scaleX(1);
}
.about{
        height: 600px;
        display: flex;
        align-items:flex-start;
        justify-content: space-evenly;
        background-color: whitesmoke;
}
h1{
    margin: 10px;
    padding: 40px;
    background-color: whitesmoke;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p{
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    height: 540px;
    width: 400px;
    border: 2px solid black;
    border-radius: 15px;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.about p:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 1px rgb(12, 14, 15);
    background-color:beige;
    font-weight: 600;
}
.container{
    background-color: whitesmoke;
}

@media screen  and (max-width: 600px){
    .heading{
        margin-right: 70px; 
        font-size: 45px;
        color: rgb(255, 255, 255);
    }
    button{
        margin-left: 40px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 15px;
    }
    .logo{
        height: 100px;
        width: 100px;
    }
    .about p{
      overflow: scroll;
}

.about img{
    display: none;
}
   
}
